In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('payload_concat.csv')

In [3]:
df.head()

,Unnamed: 0,hi,icon,low,overall,provider,sort_city,sort_state,sort_zip,text
0,0,85.70%,77.53%,87.28%,82.01%,The Weather Channel,Ellabell,Georgia,31308,77.53%
1,1,85.70%,77.16%,87.19%,81.80%,Weather Underground,Ellabell,Georgia,31308,77.16%
2,2,85.42%,73.82%,85.24%,79.39%,AccuWeather,Ellabell,Georgia,31308,73.07%
3,3,80.04%,73.72%,81.24%,77.18%,Foreca,Ellabell,Georgia,31308,73.72%
4,4,80.21%,65.91%,79.36%,72.85%,NWS Digital Forecast,Ellabell,Georgia,31308,65.91%

In [4]:
cols = ['hi', 'icon', 'low', 'overall', 
]

DataError: No numeric types to aggregate